<div class="row">
    <div class="col l3 m12 s12">
        <img class="responsive-img" src="{{ user.images[0].url }}" title="{{ user.id }}'s profile picture" alt="{{ user.id }}'s profile picture" />
    </div>
    <div class="col l9 m12 s12">
        <h6 class="hide-on-med-and-down"><strong>Your Spotify Account:</strong></h6>

        <table class="highlight">
            <tr>
                <th>User:</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Account Type:</th>
                <td>{{ user.type }}</td>
            </tr>
            <tr>
                <th>User Country:</th>
                <td>{{ user.country }}</td>
            </tr>
            <tr>
                <th>Profile Page:</th>
                <td><a href="{{ user.external_urls.spotify }}">{{ user.id }}'s Spotify Profile</a></td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    {% if habits and habits.items[0] %}
        
    {% else %}
        <p>You have no recent listening habits</p>    
    {% endif %}
</div>